html{
    height: 100%;
    overflow: visible;
}
body{
    background-color: black;
    height: 100%;
}
#en-cours{
    color: red;
}

header{
    height: 20%;
}
.row{
    margin:0;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    height: 10%;
}

.window{  
    background: no-repeat url("./images/mainBackground.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:100%;
    height: 60%;
    margin-right: 0;
    margin-left:0;
}
.myInfo ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
}
.headerUl{
    flex-direction: column;
    align-items: center;
}
.cards{
    position: absolute;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.windowHobbie
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.windowbackHobbie:nth-child(2n){
    align-self: flex-end;
}
.windowback{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.windowbackHobbie{
    width: 400px;
    height: 280px;
    background: url("./images/window.png");
    background-size: 100%;  
    display: flex;
    align-items: center;
    padding-top: 1em;
}
.hobbieDeux{
    align-self: flex-end;
}
h4{
    color: red;
}
h5{
    font-size: 0.7em;
}
footer{
    border :1px solid red;
    height : 10%;
}
@media screen and (max-width: 540px){
    .container{
        margin: auto 0 auto 0;
        padding-right : 0;
        padding-left : 0;
    }
}