html{
    height: 100vh;
    overflow: visible;
}

body{
    background-color: black;
    height: 100vh;
}

header{
    height: 20%;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    height: 10%;
}

.window{
    background: no-repeat url("images/mainBackground.jpg");
    background-size:100%;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-right: 0;
    margin-left:0;
}
.windowback{
    z-index:1;
}

.myInfo{
    display: flex;
    /* justify-content: space-between; */
}

.myInfo ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards{
    position: relative;
    z-index: 2;
}

/* 
.window{
   background: no-repeat url("images/window.png");
    background-size: 100%;
    width :80%; 
    height: auto;   
    
    
}
*/

.windowback{
    position: absolut;
}

.cards{
    border :1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width : 30%;
    top :0;
    
}

h5{
    font-size: 0.7em;
}

footer{
    border :1px solid red;
    height : 10%;

@media screen and (max-width: 540px){
    .container{
        margin: auto 0 auto 0;
        padding-right : 0;
        padding-left : 0;
    }
}